<!--body-booking-->
<tr>
    <td style="BACKGROUND-COLOR: #feffff; border: 1px solid #dbdbdb;padding: 0;" class="">
        <table style="WIDTH: 100%" class=rtable cellSpacing=0 cellPadding=0 align=left>
            <tr style="HEIGHT: 20px">
                <td style="TEXT-ALIGN: center; BACKGROUND-COLOR: #feffff; WIDTH: 100%; VERTICAL-ALIGN: top; border: medium none;padding: 35px 15px;" class="">
                    <P style="LINE-HEIGHT: 1.3; BACKGROUND-COLOR: transparent; MARGIN-TOP: 0; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 1em; COLOR: #000000; FONT-SIZE: 18px"
                       align=left>
                        <strong>${title}</strong>
                    </P>
                    <p style="LINE-HEIGHT: 1.3; BACKGROUND-COLOR: transparent; MARGIN-TOP: 0; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 1em; COLOR: #000000; FONT-SIZE: 18px"
                       align="center">
                        <strong>
                            <!--text-booking-->La réservation<!--/text-booking-->
                        </strong>
                    </p>
                    <table align="center" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <!--info-box-->
                            <!--/info-box-->
                        </tr>
                        </tbody>
                    </table>
                    <table style="WIDTH:100%" align="center" cellspacing="0" cellpadding="0">
                        <tbody style="WIDTH:100%">
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{name}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%">${name}</td>
                        </tr>
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{email}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%">${email}</td>
                        </tr>
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{phone}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%">${phone}</td>
                        </tr>
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{date}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%;  COLOR: #e00000; FONT-SIZE: 18px">${date}</td>
                        </tr>
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{time}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%; COLOR: #e00000; FONT-SIZE: 18px">
                                <strong>${time}</strong>
                            </td>
                        </tr>
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{people}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%; COLOR: #e00000; FONT-SIZE: 18px">
                                <strong>${people}</strong>
                            </td>
                        </tr>
                        <!--message-->
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td colspan="2" style="border:1px solid #dbdbdb;WIDTH:100%">+{message}</td>
                        </tr>
                        <tr style="WIDTH:100%;MIN-HEIGHT: 25px; HEIGHT:auto;">
                            <td colspan="2" style="border:1px solid #dbdbdb;WIDTH:100%; padding: 15px 0">${message}</td>
                        </tr>
                        </tbody>
                        <!--/message-->
                    </table>

                    <table align="center" cellspacing="0" cellpadding="0" style="margin-top:30px">
                        <tbody>
                        <tr style="text-align: center">
                            <!--button-->

                            <!--/button-->
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--/body-booking-->