

<!--body-contact-->
<tr>
    <td style="BACKGROUND-COLOR: #feffff; border: 1px solid #dbdbdb;padding: 0;" class="">
        <table style="WIDTH: 100%;" class=rtable cellSpacing=0 cellPadding=0 align=left>
            <tr style="HEIGHT: 20px">
                <td style="TEXT-ALIGN: center; BACKGROUND-COLOR: #feffff; WIDTH: 100%; VERTICAL-ALIGN: top; border: medium none;padding: 35px 20px;" class="">
                    <P style="LINE-HEIGHT: 1.3; BACKGROUND-COLOR: transparent; MARGIN-TOP: 0; FONT-FAMILY: Arial, Helvetica, sans-serif;
                    MARGIN-BOTTOM: 1em; COLOR: #000000; FONT-SIZE: 18px"
                       align=left>
                        <strong>${title}</strong>
                    </P>

                    <!--<p style="LINE-HEIGHT: 1.3; BACKGROUND-COLOR: transparent; MARGIN-TOP: 0; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 1em; COLOR: #000000; FONT-SIZE: 18px"
                       align="center">
                        <strong>La demande de contact  </strong>
                    </p>-->
                    <table align="center" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <!--info-box-->
                            <!--/info-box-->
                        </tr>
                        </tbody>
                    </table>
                    <table style="WIDTH:100%" align="center" cellspacing="0" cellpadding="0">
                        <tbody style="WIDTH:100%">

                        <!--subject-->
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{subject}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%">${subject}</td>
                        </tr>
                        <!--/subject-->

                        <!--name-->
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{name}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%">${name}</td>
                        </tr>
                        <!--/name-->

                        <!--phone-->
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{phone}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%">${phone}</td>
                        </tr>
                        <!--/phone-->

                        <!--company-->
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{company}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%">${company}</td>
                        </tr>
                        <!--/company-->

                        <!--email-->
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{email}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%"><a href="mailto:${email}">${email}</a></td>
                        </tr>
                        <!--/email-->

                        <!--website-->
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{website}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%"><a href="${website}">${website}</a></td>
                        </tr>
                        <!--/website-->

                        <!--service-->
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{service}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%">${service}</td>
                        </tr>
                        <!--/service-->

                        <!--industry-->
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{industry}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%">${industry}</td>
                        </tr>
                        <!--/industry-->

                        <!--country-->
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td style="border:1px solid #dbdbdb;WIDTH:30%">+{country}</td>
                            <td style="border:1px solid #dbdbdb;WIDTH:70%">${country}</td>
                        </tr>
                        <!--/country-->

                        <!--message-->
                        <tr style="WIDTH:100%;HEIGHT: 25px">
                            <td colspan="2" style="border:1px solid #dbdbdb;WIDTH:100%">+{message}</td>
                        </tr>
                        <tr style="WIDTH:100%;MIN-HEIGHT: 25px; HEIGHT:auto;">
                            <td colspan="2" style="border:1px solid #dbdbdb;WIDTH:100%; padding: 15px 0">${message}</td>
                        </tr>
                        <!--/message-->
                        </tbody>
                    </table>
                    <table align="center" cellspacing="0" cellpadding="0" style="margin-top:30px">
                        <tbody>
                        <tr style="text-align: center">
                            <!--button-->

                            <!--/button-->
                        </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </table>
    </td>
</tr>
<!--/body-contact-->